<html>
  <head>
    <title>Juicer.io Test</title>
  </head>
  <style>
    #app {
      padding: 5vw;
    }
    #app .grid {
      --auto-grid-min-size: 12rem;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
      grid-gap: 1rem;
    }
    #app .grid_item {
      padding: 1em;
      min-height: 150px;
      background-color: #ededed;
    }
    #app .grid_item img {
      max-width: 100%;
    }
  </style>
  <body>
    <main id="app">
      <div class="grid">
        <div class="grid_item" v-for="post in juicerFeed.posts.items">
          <img :src="post.image" /><br />
          <a :href="post.full_url" target="_blank" rel="noreferrer">View post</a>
        </div>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
      new Vue({
        el: '#app',
        data() {
          return {
            juicerFeed: null
          }
        },
        async mounted() {
          this.juicerFeed = await this.loadJuicerData()
        },
        methods: {
          async loadJuicerData() {
            const res = await fetch(
              'https://www.juicer.io/api/feeds/javascript_test?admin=true&per=20'
            )
            return await res.json()
          }
        }
      })
    </script>
  </body>
</html>
